# File: .env.example
PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/syrian_qr_menu

JWT_SECRET=CHANGE_ME_SUPER_SECRET
JWT_EXPIRES_IN=7d

# مهم للـ QR
BASE_URL=http://localhost:3000

# تسجيل المستخدمين:
# - إذا true: أي شخص يمكنه register كـ owner
# - إذا false: register يحتاج admin token
ALLOW_PUBLIC_REGISTER=true

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=syrian-qr-menu
